[Desktop Entry]
Name=Touch Test
Exec=webapp-container --webappUrlPatterns=http://www.google.com/* http://www.google.com
Icon=TouchTest.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true

