[Desktop Entry]
Name=Touch Test
Icon=TouchTest.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Exec=ubuntu-html5-app-launcher $@ --www=www --inspector

